@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Nav styling */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2c3e50;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* styling of the nav links */
.left-nav {
  font-size: 2.4rem;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  padding: 4rem 0;
}

.right-nav a {
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.right-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* Styling of the hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dc3545;
  gap: 1rem;
}
.hero img {
  padding-top: 5rem;
  padding-bottom: 3rem;
  width: 20rem;
}
.hero h1 {
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  font-size: 5rem;
}

.hero p {
  color: #fff;
  font-size: 1.8rem;
  padding-bottom: 7rem;
  text-align: center;
}

/* Styling of portfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.portfolio h2 {
  text-transform: uppercase;
  padding-top: 7rem;
  padding-bottom: 2rem;
  font-size: 4rem;
  color: #2c3e50;
}
/* grid 6 */

.grid-6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60vw;
  margin: auto;
  gap: 5rem;
  padding-bottom: 6rem;
}

.grid-ele {
  border-radius: 8px;
  overflow: hidden;
}

.grid-img {
  width: 100%;
  height: 100%;
}

/* styling of the about section */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #dc3545;
  color: #fff;
}
.about h2 {
  padding-top: 6rem;
  font-size: 4rem;
  text-transform: uppercase;
}

.about-text {
  display: flex;
  gap: 3rem;
  width: 35%;
}

.about-paragraph {
  font-size: 1.6rem;
  line-height: 2rem;
  padding-bottom: 8rem;
}

/* styling of the form */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Styling of the footer1 */
.footwrap {
  background-color: #2c3e50;
}
.first-footer {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  padding: 8rem 0;
  width: 80%;
  margin: auto;
}

.first-footer h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.icon-wrap {
  display: flex;
  gap: 1.6rem;
}

.icon-link {
  color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 1.6rem;
}

.sub-footer1,
.sub-footer2,
.sub-footer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  width: 20%;
  gap: 1.4rem;
  text-align: center;
  line-height: 2.4rem;
}

.sub-footer3 a:link,
.sub-footer3 a:visited {
  color: #23bc9c;
  text-decoration: none;
}

.second-footer {
  background-color: #1a252f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 2rem 0;
  font-size: 1.2rem;
}

/* styling of the contact form */

label {
  font-size: 2rem;
  color: #87939e;
  padding-top: 1rem;
}

.contact-form {
  padding-bottom: 6rem;
}

input[type="text"],
input[type="email"],
input[type="phone"],
textarea {
  width: 60vw;
  border: none;
  resize: none;
  border-bottom: 1px solid #cde6ff70;
}

input[type="submit"] {
  background-color: #dc3545;
  border: none;
  padding: 1.4rem 2.8rem;
  border-radius: 5px;
  color: #fff;
  font-size: 2rem;
}
.contact h2 {
  padding: 6rem 0;
  font-size: 4rem;
  text-transform: uppercase;
  color: #2c3e50;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
textarea:focus {
  border: none;
}
