@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Nav styling */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2C3E50;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* styling of the nav links */
.left-nav {
    font-size: 2.4rem;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    padding: 4rem 0;
}

.right-nav a {
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;

}

.right-nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* grid 6 */


.grid-6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80vw;
    margin: auto;
    gap: 2rem;
}

.grid-ele {
    border-radius: 5px;
    overflow: hidden;
}

.grid-img {
    width: 100%;
    height: 100%;
}